@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --stone-300: #d6d3d1;
  --stone-400: #a8a29e;
  --stone-600: #57534e;
  --red-600: #dc2626;

  --color-yellow-gamehub: #f5c618;
  --color-burgundy-chefs-table: #5e0a24;
  --color-blue-csm: #0052bd;
  --color-secondary-dreambids: #1572b9;
  --color-white-dreambids: #ffffff;
  --color-secondary-purple-cgg: rgb(128, 0, 145);
  --color-white-cgg: #ffffff;
  --color-secondary-holidaze: rgb(125, 211, 252);

  --font-family-koho: "KoHo", sans-serif;
}

* {
  font-family: var(--font-family-koho) !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  position: relative;
}

main {
  background-color: var(--orange-100);
  color: var(--stone-600);
}

.MuiPaper-root-MuiAccordion-root,
.MuiAccordionSummary-root,
.MuiTypography-root,
.MuiTypography-body1,
.Mui-expanded:first-of-type {
  margin: -8px auto;
  padding-bottom: 0;
  box-shadow: none;
  border-radius: 12px;
}

.MuiAccordion-root,
.MuiAccordionSummary-root:hover,
.MuiTypography-root:hover,
.MuiTypography-body1:hover,
.Mui-expanded:first-of-type:hover {
  box-shadow: inset -1px -2px 3px 0 rgb(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.Mui-expanded:first-of-type:hover {
  border-radius: 12px;
  box-shadow: none !important;
}

.MuiButtonBase-root,
.MuiPaper-root {
  cursor: default;
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-bottom: 0 !important;
}

.MuiAccordionDetails-root {
  padding-bottom: 0 !important;
}

.MuiAccordion-root {
  background-color: var(--orange-200);
  border-radius: 12px;
  text-indent: 0.5rem;
}

.Mui-expanded:nth-of-type(3),
.Mui-expanded:nth-of-type(2),
.MuiListItemButton-gutters {
  padding: 0 !important;
}

.MuiTypography-root {
  margin: 0 0.5rem !important;
}

.MuiTypography-body1:hover,
.Mui-expanded:nth-of-type(3):hover {
  background-color: var(--orange-200);
  box-shadow: none !important;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
  text-indent: 0.8rem;
  border-bottom: 1px solid var(--red-600);
}

.MuiTypography-body1,
.Mui-expanded:nth-of-type(2) {
  border-radius: 12px;
  border-bottom: 1px solid transparent;
}

.MuiButtonBase-root,
.MuiAccordionSummary-root {
  padding-right: 0.5rem !important;
  background-color: transparent !important;
}

@media (max-width: 466px) {
  .MuiButtonBase-root,
  .MuiAccordionSummary-root {
    padding-right: 0 !important;
  }
}

.hover-links {
  transition:
    transform 0.2s ease-in-out,
    border-bottom 0.2s ease-in-out;
  padding: 0 0.5rem;
  border-radius: 12px;
  display: inline-block;
  width: auto;
}

.hover-links:hover {
  border-bottom: 1px solid var(--red-600);
  transform: scale(1.1);
}
